{% load static %}

<div class="modal fade" id="createWorkflowModal" tabindex="-1" role="dialog" aria-labelledby="createWorkflowModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Workflow</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 smaller-font">
          <select class="form-control" name="start-point" id="select-start-point" onchange="checkWorkflowBoundaries()">
            <option value="">Select data type you want to process</option>
            <option value="">fastq-gz</option>
            <option value="">counts-fa</option>
            <option value="">sam</option>
            <option value="">pivot-table</option>
          </select>
          <select class="form-control" name="end-point" id="select-end-point" onchange="checkWorkflowBoundaries()">
            <option value="">Which data type do you want to create?</option>
            <option value="">counts-fa</option>
            <option value="">sam</option>
            <option value="">pivot-table</option>
          </select>
        </div>
        <hr>
        <div class="col-12" id="workflowArea">
          <div class="row justify-content-center">

              <div class="card w-50" id="start-point">
                <div class="card-block smaller-font">
                </div>
                <div class="card-footer">
                  <div class="data-type">
                  </div>
                  <div class="sends-to">
                  </div>
                </div>
              </div>

          </div>
          <div class="row justify-content-center" id="workflow-content-1">

                <div class="card w-25" id="level-1-1">
                  <div class="card-header">
                    <div class="data-type">a
                    </div>
                    <div class="gets-from">
                    </div>
                  </div>
                  <div class="card-block smaller-font">c
                  </div>
                  <div class="card-footer">
                    <div class="data-type">b
                    </div>
                    <div class="gets-from">
                    </div>
                  </div>
                </div>

                <div class="card w-25" id="level-1-1">
                  <div class="card-header">
                    <div class="data-type">a
                    </div>
                    <div class="gets-from">
                    </div>
                  </div>
                  <div class="card-block smaller-font">c
                  </div>
                  <div class="card-footer">
                    <div class="data-type">b
                    </div>
                    <div class="gets-from">
                    </div>
                  </div>
                </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-4">
              <div class="card" id="end-point">
                <div class="card-header">
                  <div class="data-type">
                  </div>
                  <div class="gets-from">
                  </div>
                </div>
                <div class="card-block smaller-font">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var workflows = {{workflows | safe}}
  var data_type_explanations = {
          'fastq-gz':'Raw FASTQ input, in .gz format (fastq.gz)',
          'counts-fa':'FASTA file composed of reads and counts. Default data storage type'
                                }

  function checkWorkflowBoundaries() {
    start_index = document.getElementById('select-start-point').selectedIndex
    end_index = document.getElementById('select-end-point').selectedIndex
    if ( start_index > 0 & end_index > 0) {
      var start_type = document.getElementById('select-start-point').options[start_index].text
      d3.select('#start-point').select('.card-block').html(data_type_explanations[start_type])
      d3.select('#start-point').select('.card-footer').select('.data-type').html('<button type="button" class="btn btn-secondary" onclick="addProcess(\'start-point\')">' + start_type + '</button>')

      var end_type = document.getElementById('select-end-point').options[end_index].text
      d3.select('#end-point').select('.card-header').select('.data-type').html(end_type)
      d3.select('#end-point').select('.card-block').html(data_type_explanations[end_type])
  }


  function addProcess(process_name) {
  }


  }
</script>
