{% load static %}

<div class="modal fade" id="createProcessModal" tabindex="-1" role="dialog" aria-labelledby="createProcessModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Process</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 smaller-font">
          <div class="h4">
            Mark-up rules:
          </div>
          <span class="btn-primary">Accepted inputs in blue</span>, <span class="btn-color-green-light">accepted outputs in green</span>, <span class="btn-danger">forbidden commands in red</span>, <i>types in italic</i>, and <b>names in bold</b>.
        </div>
        <hr>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="bash_script" class="input-group-text">Bash script:</span>
          </div>
          <textarea class="form-control cp-user-input" name="bashProcessScript" rows="2" id="rawProcessCommand" onkeyup="checkCommand()" placeholder="Start writing your script here.">Example: cutadapt -a <i_sequence_barcode <f_fastq_input_file -o >f_fastq_output_file</textarea>
        </div>


        <div class="row">
          <div class="col-12 smaller-font">
            <div class="h4 mt-4">
              Interpreted script:
            </div>
          </div>
          <div class="col-12 mt-1">
            <div class="border" id="checkedCommand">
                Start writing bash script above.
            </div>

          </div>
          <div class="col-12 mt-2">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Process name:</span>
              </div>
              <input type="text" class="form-control cp-user-input" name="bashProcessName" id="processName" aria-describedby="bashProcessName" onkeyup="checkAllInputs('cp-user-input')">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Description:</span>
              </div>
              <input type="text" class="form-control cp-user-input" id="bashProcessDescription" aria-describedby="bashProcessDescription" name="bashProcessDescription" onkeyup="checkAllInputs('cp-user-input')">
            </div>
          </div>
          <div class="col-md-12" id="cp-message">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button disabled type="button" class="btn btn-primary" id="createBashProcess" onclick="createBashProcess()">Create Bash Process</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  function checkCommand() {
    [atLeastOneIO, danger, checkedScript] = validateScript('rawProcessCommand')

    document.getElementById('checkedCommand').innerHTML = checkedScript
    $('#createBashProcess').prop('disabled', true)
    if (danger) {
      d3.select('#bash_script').attr('class', 'input-group-text btn-color-red')
    }else if (atLeastOneIO) {
      d3.select('#bash_script').attr('class', 'input-group-text btn-color-green')
      scriptValid = true
      checkAllInputs('cp-user-input')

    }else {
      d3.select('#bash_script').attr('class', 'input-group-text btn-color-gray-light')
    }
  }

  function validateScript(script_id){
    var atLeastOneIO = false
    var danger = false
    //script_id = 'rawProcessCommand'
    cmd = document.getElementById(script_id).value
    cmd_list = cmd.split(/\s+/)
    checked = []
    for (var i = 0; i < cmd_list.length; i++) {
      curr = cmd_list[i]
      if (curr.match(/^<[ifds]_[\w-]+_[a-zA-Z_-]+/)) {
        parts = curr.split("_")
        checked.push('<mark class="btn-primary">' + parts[0].replace("<", "&lt;") + '_<i>' + parts[1] + "</i>_<b>" + parts.slice(2).join("_") + "</b></mark>")
        atLeastOneIO = true
      }else if (curr.match(/^>[ifds]_[\w-]+_[a-zA-Z_-]+/)) {
        parts = curr.split("_")
        checked.push('<mark class="btn-color-green-light">' + parts[0] + '_<i>' + parts[1] + "</i>_<b>" + parts.slice(2).join("_") + "</b></mark>")
        atLeastOneIO = true
      }else if (curr.match(/^-p_[\w-]+/)) {//parameters like n of threads
        parts = curr.split("_")
        checked.push('<mark class="btn-color-yellow">' + parts[0] + '_<i>' + parts[1] + "</i>" + "</b></mark>")
      }else if (curr=='rm' || curr=='mv' || curr.match('/')) {
        checked.push('<mark class="btn-danger">' + curr.replace("<", "&lt;") +  "</mark>")
        danger = true
      }else {
        checked.push(curr.replace("<", "&lt;"))
      }
    }
    return [atLeastOneIO, danger, checked.join(" ")]
  }

  function checkAllInputs(classname) {
    var haveInput = true
    var user_inputs = document.getElementsByClassName(classname);
    for(var i = 0; i < user_inputs.length; i++)
    {
      if (user_inputs[i].value.replace(/^\s+|\s+$/g, '').length > 0) {
        //do nothing
      }else {
        haveInput = false
      }
    }
    [atLeastOneIO, danger, checkedScript] = validateScript('rawProcessCommand')
    if (haveInput & atLeastOneIO & !danger) {
      $('#createBashProcess').prop('disabled', false)
    }else {
      $('#createBashProcess').prop('disabled', true)
    }
  }

  //checkCommand()
</script>
<script src="{% static 'js/build.js' %}"></script>
