{% extends 'templates/navigation.html' %}
{% load static %}



	<title>{% block title %}smallRNA-Seq Analysis Pipeline{% endblock %}</title>

	{% block body %}
  <div class="row">
      <div class="col-12 jumbotron pt-4 pb-4 mb-4">
        <h1 class="display-4">Discover</h1>
        <p class="lead">Start with <span class="text-color-dark">processing your smallRNA-Seq data</span>, <span class="text-color-blue-light">build a custom annotation</span> (eg, for transgenes) or use official ones to <span class="text-color-gray">align your data</span>, <span class="text-color-gray">filter reads by species and group by genes</span>, and <span class="text-color-gray">compare samples using scatter plots and venn diagrams</span>.</p>
        <p>
          <button type="button" class="btn btn-lg btn-color-blue-light btn-block">In a hurry? Run a Workflow!</button>
        </p>
      </div>

  </div>

  <div class="row">
    <div class="card-deck">
      <div class="card text-color-dark mb-5">
        <div class="card-header display-4 pt-1 "><span style="font-size:.8em">Prepare</span></div>
        <div class="card-body">
          <p class="card-text text-justify smaller-font">
            You need to process your FASTQ data first to do analysis.
            Processed data can be accessed by your group members unless hidden by owner.
          </p>
        </div>
        <div class="card-footer bg-transparent border-light p-2 mb-2">
          <button type="button" class="btn btn-lg btn-color-dark btn-block" data-toggle="modal" data-target="#fileUploadModal">Upload FASTQ file(s)</button>
          <button type="button" class="btn text-color-dark btn-block">Upload Customized Data</button>
        </div>
      </div>

      <div class="card bg-light mb-5 text-color-gray">
        <div class="card-header display-4 pt-1"><span style="font-size:.8em">Analyze</span></div>
        <div class="card-body">
          <p class="card-text text-justify smaller-font">Using already processed data, you can perform your own analysis in the following order.</p>
          <p class="lead text-justify m-0" style="font-size:.7em"><span class="text-muted mb-1 my-1" >
            {% if samples > 1 %}
            There are {{samples}} samples in the repository from {{experiments}} experiments.
            {% elif samples > 0 %}
            There is only 1 sample in the repository.
            {% else %}
            There is no data yet in the repository.
            {% endif %}
          </span></p>
        </div>
        <div class="card-footer bg-transparent border-light p-2 mb-2">
          <button type="button" class="btn btn-color-gray btn-block"><span class="h5">Align</span> Prepared Reads</button>
          <button type="button" class="btn btn-color-gray btn-block"><span class="h5">Analyze</span> Aligned Reads</button>
          <button type="button" class="btn btn-color-gray btn-block"><span class="h5">Visualize</span> Analysis</button>
        </div>
      </div>

      <div class="card bg-light mb-5 text-color-light">
        <div class="card-header display-4 pt-1 "><span style="font-size:.8em">Review</span></div>
        <div class="card-body">
          <p class="card-text text-justify smaller-font">You can check your performed analysis or interactive visualizations. Only you can see your results unless you share them.</p>
        </div>
        <div class="card-footer bg-transparent border-light p-2 mb-2">
          <button type="button" class="btn btn-color-light btn-block">Data <span class="badge badge-warning align-top" style="font-size:.5em">{{unvisited_data}} new</span></button>
          <button type="button" class="btn btn-color-light btn-block">Analysis <span class="badge badge-warning align-top" style="font-size:.5em">{{unvisited_analysis}} new</span></button>
          <button type="button" class="btn btn-color-light btn-block">Visualizations <span class="badge badge-warning align-top" style="font-size:.5em">{{unvisited_visualization}} new</span></button>
        </div>
      </div>

      <div class="card bg-light mb-5 text-color-blue-light border-dark">
        <div class="card-header display-4 pt-1"><span style="font-size:.8em">Build</span></div>
        <div class="card-body">
          <p class="card-text text-justify smaller-font">Build alignment file for your transgene, create a whole analysis workflow, or add FASTQ processing rule for a smallRNA-Seq protocol.</p>
        </div>
        <div class="card-footer bg-transparent border-light p-2 mb-2">
          <button type="button" class="btn btn-color-blue-light btn-block">Custom Annotation</button>
          <button type="button" class="btn btn-color-blue-light btn-block">Analysis Workflow</button>
          <button type="button" class="btn btn-color-blue-light btn-block">Processing Workflow</button>
        </div>
      </div>
    </div>
  </div>


  <!-- File Upload Modal -->
  <div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload FASTQ Files</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- File upload part -->
            {% include "templates/file_upload_modal.html" %}
            <hr>
            {% include "templates/multiple_files_content_type_modal.html" %}
            <hr>
            {% include "templates/preprocessing_protocols_modal.html" %}
          </div>



          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn input-group-text" id="upload-button" onclick="uploadFiles()">Upload</button>
          </div>
        </div>
      </div>

  </div>

	{% endblock %}




	{% block afterbody %}

  <script type="text/javascript">
    




  </script>
	{% endblock %}
